{% extends "SaidulDomainManagementBundle::layout.html.twig" %}

{%block body%}
<a id="addRecordBtn" class="button" href="{{path('_domain_new')}}">Add New Record</a>
<a id="toggleNonlocalBtn" class="button" href="javascript: void(0)">Toggle Non-locals</a>

<div id="addRecordMiniForm">
    <form action="{{ path('_domain_new') }}" method="POST">
    {{ form_errors(form) }}

    IP: {{ form_widget(form.ip) }}
    HOST: {{ form_widget(form.host) }}

    {{ form_rest(form) }}
    <input type="submit" value="Save"/>
</form>
</div>

<ul class="domainList">
{%for ditem in dlist%}
<li class="{{loop.index is odd?"odd":"even"}}">
    <div class="column-ip">{{ditem.ip}}</div>
    <div class="column-host">
        {%if ditem.local == true %}
        <a class="{{ditem.dir_exist?"":"error"}}" target="_blank" href="http://{{ditem.host}}"> {{ditem.host}} </a> {%if  ditem.dir_exist == false %}<span style="color:red;float:right;font-weight: bold;">Directory missing</span>{%endif%}
        {%else%}
        {{ditem.host}}
        {%endif%}

    </div>
    <div class="column-action">
        <a href="{{ path('_domain_edit_id',{'idx':loop.index0})}}">Edit</a>
        <a href="{{ path('_domain_delete_id',{'idx':loop.index0})}}" onclick="javascript: return confirm('Are you sure to delete this?');">Delete</a>
    </div>
</li>

{%endfor%}
    </ul>

<h3>
Dangling Domain Directories (No record in host file):
</h3>
<ul>
{%for dir in danglingDirs|keys %}
<li>
    {{dir}} <a href="javascript:alert('Implement it or do it yourself')">Create Record</a>
</li>

{%endfor%}
    </ul>
{%endblock%}